* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff;
    font-family: 'Karla', sans-serif;
}

.title {
  font-size: 5rem;
  color: #2d2d2d;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
}

.timer {
    margin: 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

button {
  /* width: 50%; */
  padding: 0 10% 0;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}