* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F6F6;
    font-family: Neucha, sans-serif;
}
h2 {
  text-align: center;
  margin: 0.3em;
}

h2, h3 {
  color: #41403e;
}

.title {
  color: #F7F6F6;
  background-color: #41403e;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1em;
}

.timer {
  /* max-width: 500px; */
    margin: 2em;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 5em; */
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
}



/* CSS */
.button-55{
  align-self: center;
  background-color: #F9F8F8;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  color: #F7F6F6;
  background-color: #41403e;
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
} */


@media only screen and (max-width: 480px){
  .timer-label, .time-left {
    font-size: 2rem;
    text-align: center;
    color: #F7F6F6;
  }
  .name {
    font-size: 1rem;
  }
  .timer {
    width: 90%;
    margin: 0 auto;
    height: 100vh;
  }
  .title {
    width: 90%;
    padding: 1em;
    /* background-color: #41403e; */
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  } 

  .start-reset-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
  }
  
  .button-55 {
    font-size: 2rem;
    padding: 0.5em;
    margin: 0.1em;
  }
  .work-btn-div, .break-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
  }

}

  @media only screen and ((min-width: 481px) and (max-width: 767px)){
    .timer-label, .time-left {
      font-size: 4rem;
      text-align: center;
      color: #41403e;
    } 
    .name {
      font-size: 2rem;
      color: yellow;
    }
     .title {
      width: 90%;
      box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
      transition: all 235ms ease-in-out;
      border-bottom-left-radius: 15px 255px;
      border-bottom-right-radius: 225px 15px;
      border-top-left-radius: 255px 15px;
      border-top-right-radius: 15px 225px;
      border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
     }
    

    .start-reset-div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.4em;
    }
    
    .button-55 {
      font-size: 2rem;
      padding: 0.7em;
      margin: 0.1em;
    }
    .work-btn-div, .break-btn-div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}  

@media only screen and ((min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)) {
  .timer-label, .time-left {
    font-size: 4rem;
    text-align: center;
    color: #F7F6F6;
  } 
  .name {
    font-size: 2rem;
    background-color: red;
    color: red;
  }
   .title {
    max-width: 500px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
   }
  

  .start-reset-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4em;
  }
  
  .button-55 {
    font-size: 2rem;
    padding: 0.7em;
    margin: 0.1em;
  }
  .work-btn-div, .break-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and ((min-width: 1024px) and (max-width: 1280px)) {
  .timer-label, .time-left {
    font-size: 4rem;
    text-align: center;
    color: #F7F6F6;
  } 
  .name {
    font-size: 2rem;
    background-color: blue;
    color: blue;
  }
   .title {
    max-width: 500px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
   }
  

  .start-reset-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4em;
  }
  
  .button-55 {
    font-size: 2rem;
    padding: 0.7em;
    margin: 0.1em;
  }
  .work-btn-div, .break-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1280px) {
  .timer-label, .time-left {
    font-size: 4rem;
    text-align: center;
    color: #F7F6F6;
  } 
  .name {
    font-size: 2rem;
  }
  main {
    margin: 0 auto;
    max-width: 700px;
  }
   .title {
    width: 90%;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
   }

  .start-reset-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.4em;
  }
  
  .button-55 {
    font-size: 2rem;
    padding: 0.7em;
    margin: 0.1em;
    border-style: solid;
  }
  .work-btn-div, .break-btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
