* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F7F6F6;
    font-family: Neucha, sans-serif;
}

.title {
  font-size: 5rem;
  color: #2d2d2d;
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1em;
   height: 100vh;
  }

.timer {
    background-color: #fff;
    /* max-width: 500px; */
    margin: 2em;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.34);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.5); */
}



/* CSS */
.button-55{
  align-self: center;
  background-color: #fff;
  background-image: none;
  /* background-position: 0 90%; */
  background-repeat: repeat no-repeat;
  /* background-size: 4px 3px; */
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

input {
  align-self: center;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  /* line-height: 23px; */
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@media  (max-width: 480px){
   .title {
    line-height: 1px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5em;
    background-color: antiquewhite;
  } 

  .timer-label, .time-left {
    font-size: 3rem;
    text-align: center;
  }

  .work-btn-div {
     margin: 1em;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     
  }
  .work-btn-div > button {
     
  }
  

  input {
    width: 90%;
    padding: 1rem 0;
    font-size: 2rem;
    color: #41403e;
  }
}

 @media screen and (max-width: 768px){
  .title {
    font-size: 4rem;
  }

  /* main { */
    /* background-color: aqua; */
     /* margin: 3em;  */
   /* }  */

   /* .timer {
    
    padding: 1.2em;
    margin: 1.5em;
  } */
   
  .button-55, input {
    line-height: 10px;
    padding: 1em;
  }
} 